/*
 * This file is part of BYOG.
 *
 * Copyright 2014 Zengularity
 *
 * BYOG is free software: you can redistribute it and/or modify
 * it under the terms of the AFFERO GNU General Public License as published by
 * the Free Software Foundation.
 *
 * BYOG is distributed "AS-IS" AND WITHOUT ANY WARRANTY OF ANY KIND,
 * INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY,
 * NON-INFRINGEMENT, OR FITNESS FOR A PARTICULAR PURPOSE. See
 * the AFFERO GNU General Public License for the complete license terms.
 *
 * You should have received a copy of the AFFERO GNU General Public License
 * along with BYOG.  If not, see <http://www.gnu.org/licenses/agpl-3.0.html>
 */

/*
Font Face
*/

@font-face {
  font-family: 'bebas_neue_regularregular';
  src: url('../fonts/bebasneue_regular-webfont.eot');
  src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
       url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
       url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuethin';
  src: url('../fonts/bebasneue_thin-webfont.eot');
  src: url('../fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebasneue_thin-webfont.woff') format('woff'),
       url('../fonts/bebasneue_thin-webfont.ttf') format('truetype'),
       url('../fonts/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'bebas_neue_regularregular', Bebas, sans-serif;
  margin: 0;
}

.gamepad {
  position: fixed;
  width: 100%;
  height: 100%;
}
.big-zone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
  display: table;
  height: 100%;
  width: 100%;
}
.big-zone div {
  display: table-cell;
  vertical-align: middle;
}
.connection-msg {
  color: #1C303E;
  font-size: 50px;
  display: table;
  height: 100%;
  width: 100%;
}
.connection-msg div {
  display: table-cell;
  vertical-align: middle;
}
.score-position {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 40%;
  left: 0;
  color: white;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 50%;
  height: 60%;
}
.score-position div {
  display: table-cell;
  vertical-align: middle;
}
.score-distance {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 50%;
  color: white;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 50%;
  height: 60%;
}
.score-distance div {
  display: table-cell;
  vertical-align: middle;
}
.score-btn {
  display: table;
}
.score-btn div {
  display: table-cell;
  vertical-align: middle;
}
.error-msg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
  height: 60%;
}
.error-msg div {
  color: #1C303E;
  display: table-cell;
  vertical-align: middle;
}
.error-btn {
  display: table;
  width: 100%;
  height: 40%;
}
.error-btn div {
  color: #1C303E;
  display: table-cell;
  vertical-align: middle;
}
.half-btn {
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
  height: 40%;
}
.half-btn div {
  display: table-cell;
  vertical-align: middle;
}
.btn {
  cursor: pointer;
}
